@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fa;
  --foreground: #111827;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
